*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDiv{
    height: 100vh;    
    background: radial-gradient(circle,rgb(77, 76, 76), rgb(35, 30, 30), rgb(16, 16, 16));
    color: white;
}
.Dashboarddiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}